<!doctype html>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<body>
  <div data-role="page">
<div data-role="header" style="overflow:hidden;" data-position="fixed">

</div><!-- /header -->

<div class="page">
  <!-- <h1>MiniTwit</h1> -->
<!--   <div class="navigation">
  {% if g.user %}
    <a href="{{ url_for('timeline') }}">my timeline</a> |
    <a href="{{ url_for('public_timeline') }}">public timeline</a> |
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('public_timeline') }}">public timeline</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div> -->
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>

    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>

</div>
<div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar">
            <ul>
				<li><a href="{{ url_for('public_timeline') }}" data-icon="home"></a></li>
                {% if g.user %}
				<li><a href="{{ url_for('public_tweet') }}" data-icon="edit" class="ui-btn-active"></a></li>
                {% endif %}
                
                
                <li>
                {% if g.user %}
				<a href="{{ url_for('public_account',  username=g.user.username) }}" data-icon="user"></a>
                {% else %}
				<a href="{{url_for("login")}}" data-icon="user"></a>
                {% endif %}
                </li>
            </ul>
        </div><!-- /navbar -->
        </div><!-- /footer -->
        </div>
</body>
