{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    ᠣᠯᠠᠨ ᠤ ᠵᠢᠷᠭᠢᠭᠡ
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }} ᠤ᠋ ᠰᠢᠪᠨᠡᠯ
  {% else %}
    ᠮᠢᠨᠦ ᠵᠢᠷᠭᠢᠭᠡ
  {% endif %}
{% endblock %}
{% block body %}
<div data-role="header" style="overflow:hidden;" data-position="fixed">


  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
      <div class="followstatus">
      {% if g.user.user_id == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class="unfollow" href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class="follow" href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
    {% endif %}
  {% endif %}
  </div><!-- /header -->

  <ul class="messages"  >
  {% for message in messages %}

<li class="messagebody">
<!--     <a href="{{ url_for('user_timeline', username=message.username)}}">
      <h2>{{ message.username }}</h2>
    </a> -->
    <img src="{{ message.email|gravatar(size=48) }}">
    <div class="msgheader"><span class="username"><a href="{{ url_for('user_timeline', username=message.username)}}">{{ message.username }} </a></span>
    <span class="posttime">{{ message.pub_date|datetimeformat }}</span></div>
    <p>{{ message.text }}</p>
    

<!-- if imgs exists -->
<!-- <div class="ui-grid-b">
    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
    <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px"><img src="{{ message.email|gravatar(size=48) }}"></div></div>
</div>--><!-- /grid-c --> 

<div class="msgfooter">
<a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-comment ui-btn-icon-notext ui-btn-inline">a</a>11
<a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-heart ui-btn-icon-notext ui-btn-inline">a</a>1100</div>
    </li>
    
  {% else %}
    <li><em>There's no message so far.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
<!-- <a href="{{ url_for('user_timeline', username=message.username)}}">{{ message.username }}</a> -->

<img src="{{ message.email|gravatar(size=48) }}">